.button {
    font-family: Verdana;
    font-size: 12pt;
    text-decoration: underline;
    background-color: white;
    color: blue;
    border: 0px;
    margin: 2;
    text-align: left;
}

.disabled {
    color: gray
}

.tooltip {
    visibility: hidden;
    position: absolute;
    right: -80px;
    z-index: 1;
    background-color: white;
    color: black;
    border: 1px solid green;
    padding: 2px;
}

.button:hover .tooltip {
    visibility: visible;
}