@keyframes bob {
    0% { transform: translate(0px, 0px) }
    50% { transform: translate(0px, 15px) }
    100% { transform: translate(0px, 0px) }
}

.oval {
    font-family: Verdana;
    color: #222;
    background-color: #ddd;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   -webkit-user-select: none;   
   -moz-user-select: none;      
   -ms-user-select: none;   
    position: relative;
    animation: bob 2s infinite linear;
}